body{
    overflow-x: hidden;
    background-color: #121212;
}
.page-footer h6{
    color: #ffffff;
    
    
    text-align: start;
}
.navbar-brand{
    font-family: 'Oswald', sans-serif;
   z-index: 1;
}
.navbar-brand:hover{
    color: #fff;
    text-shadow: 0 0 20px #fff,
                 0 0 30px #fff,
                 0 0 40px #fff,
                 0 0 55px #fff;
                
                 
}


.content-font{
    font-family: 'Crimson Pro', serif;

}
.footer-copyright{
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
}
.page-footer button{
    width: 30px;
    height: 30px;
}
.page-footer h5
{
    color: #ffffff;
}
.page-footer{
    font-family: serif;
    height: 100%;
    width: auto;
    margin-top: 45px;
    background: rgb(35, 20, 77);
    
}



  
@media screen and (max-width:300px) {
    #iste_logo{
        position: absolute;
        top: 0;
        z-index: 0;
        animation: Circle 12s linear infinite;
        width: 150px;
        height: 150px;
        margin-left: -60px;
        margin-top: 10px;
        
    }
    nav{
        background-image: url('../images/Image.png');
        height: max-content;
    }

    .navbar{
        
        font-family: '', sans-serif;
        background-color: rgba(47, 54, 106, 0.95);
        border-bottom-left-radius: 150px 100px;
        height: max-content;
        width: 100%;
    }
    .navbar-brand{
        font-size: 30px;
        position: relative;
        margin-top: 4%;
        margin-left: 6%;
        padding-left: 0%;
        margin-bottom: 10%;
    
    }
    .quote{
        display: none;
        font-size: 10px;
        position: absolute;
        right: 2%;
        top: 130px;
        color: #E5E5E5;
        font-family: cursive;
    }
    .quote>h3{
        font-size: 15px;
    }
    .author>h5{
        font-size: 10px;
    }
    .author{
        position: relative;
        margin-left: 50%;
        color: #E5E5E5;
        font-family: 'Oswald', sans-serif;
    }
    
    .navbar-nav{
        font-size: small;
        position: relative;
        margin-left: 0%;
        /* margin-top: -260px; */
    }
    
    .nav-item{
        margin-left: 5px;
        
    }
    .navbar-toggler{
   
        position: absolute;
        
        top: 20px;
        right: 20px;
        
    }
    #navbarNav{
       
        margin-left: 80%;
    }
    .glide__arrows{
        display: none;
    }
    
}
@media screen and (min-width:300px) and (max-width:600px) {
    #iste_logo{
        position: absolute;
        top: 0;
        z-index: 0;
        animation: Circle 12s linear infinite;
        width: 290px;
        height: 290px;
        margin-left: -60px;
        margin-top: 10px;
        
    }  
    nav{
        background-image: url('../images/Image.png');
        height: max-content;
    }

    .navbar{
        
        
        background-color: rgba(47, 54, 106, 0.95);
        border-bottom-left-radius: 150px 100px;
        height: max-content;
        width: 100%;
    }
    .navbar-brand{
        font-size: 70px;
        position: relative;
        margin-top: 4%;
        margin-left: 6%;
        padding-left: 0%;
        margin-bottom: 10%;
    
    }
    .quote{
        font-size: 10px;
        position: absolute;
        right: 2%;
        top: 130px;
        color: #E5E5E5;
        font-family: cursive;
    }
    .quote>h3{
        font-size: 15px;
    }
    .author>h5{
        font-size: 10px;
    }
    .author{
        position: relative;
        margin-left: 50%;
        color: #E5E5E5;
        font-family: '', sans-serif;
    }
    
    .navbar-nav{
        font-size: small;
        position: relative;
        margin-left: 10%;
        /* margin-top: -260px; */
    }
    
    .nav-item{
        margin-left: 5px;
        
    }
    .navbar-toggler{
   
        position: absolute;
        
        top: 20px;
        right: 20px;
        
    }
    #navbarNav{
       
        margin-left: 80%;
    }
    
.gallery{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 50px 50px;
    border-top-right-radius: 50px 50px;
    height: auto;
    background-color: #FFFFFF;
}
.glide__arrows{
    display: none;
}
.glide__slide img{
    padding-top: 10%;
    padding-bottom: 10%;
    width: 100%;
    height: 100%;
}
.glide__slides{
    height: max-content;
}
.glide__slide{
   
    filter: blur(6px);
    opacity: .7;
    transition: .3s linear;
}
.glide__slide--active{
    opacity: 1;
    filter: none;
    z-index: 2;
    transform: scale(1.2);
}
.glide__slides{
    overflow: visible;
}
.card{
    box-shadow: rgba(0, 0, 255, 0.15) 0px 15px 25px, rgba(0, 0, 255, 0.05) 0px 5px 10px;
    border-bottom-left-radius: 50px 50px;
    border-bottom-right-radius: 50px 50px;
    border-top-left-radius: 100px 100px;
    border-top-right-radius: 100px 100px;
}
.card-body{
    font-family: '', sans-serif;
    font-size: large;
}
.card-title{
    font-family: '', sans-serif;
    font-size: large;
}
}

@media screen and (min-width:600px) and (max-width:992px) {
    #iste_logo{
        position: absolute;
        top: 0;
        z-index: 0;
        animation: Circle 12s linear infinite;
        width: 500px;
        height: 500px;
        margin-left: -80px;
        margin-top: 10px;
        
    }  
    
    nav{
        background-image: url('../images/Image.png');
        height: max-content;
    }

    .navbar{
        
        /* font-family: 'Oswald', sans-serif; */
        background-color: rgba(47, 54, 106, 0.95);
        border-bottom-left-radius: 150px 100px;
        height: max-content;
        width: 100%;
    }
    .navbar-brand{
        font-size: 110px;
        position: relative;
        margin-top: 4%;
        margin-left: 7%;
        padding-left: 0%;
        margin-bottom: 10%;
    
    }
    .quote{
        position: absolute;
        right: 2%;
        top: 200px;
        color: #E5E5E5;
        font-family: cursive;
    }
    .author{
        position: relative;
        margin-left: 60%;
        color: #E5E5E5;
        font-family: 'Oswald', sans-serif;
    }

        
    .navbar-nav{
        font-size: small;
        position: relative;
        margin-left: 10%;
        /* margin-top: -260px; */
    }
    
    
    .nav-item{
        margin-left: 5px;
        
    }
    .navbar-toggler{
   
        position: absolute;
        
        top: 20px;
        right: 20px;
        
    }
    #navbarNav{
       
        margin-left: 80%;
    }
    
.gallery{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 50px 50px;
    border-top-right-radius: 50px 50px;
    height: auto;
    background-color: #FFFFFF;
}
.glide__slide img{
    padding-top: 10%;
    padding-bottom: 10%;
    width: 100%;
    height: 100%;
}
.glide__slides{
    height: max-content;
}
.glide__slide{
   
    filter: blur(6px);
    opacity: .7;
    transition: .3s linear;
}
.glide__slide--active{
    opacity: 1;
    filter: none;
    z-index: 2;
    transform: scale(1.2);
}
.glide__slides{
    overflow: visible;
}
.card{
    box-shadow: rgba(0, 0, 255, 0.15) 0px 15px 25px, rgba(0, 0, 255, 0.05) 0px 5px 10px;
    border-bottom-left-radius: 50px 50px;
    border-bottom-right-radius: 50px 50px;
    border-top-left-radius: 100px 100px;
    border-top-right-radius: 100px 100px;
}
.card-body{
    font-family: '', sans-serif;
    font-size: xx-large;
}
.card-title{
    font-family: '', sans-serif;
    font-size: xx-large;
}
     
}

@keyframes Circle {
    to{
        transform: rotate(-360deg);
    }
}
@media screen and (min-width:1300px) and (max-width:2000px) {
#iste_logo{
    position: absolute;
    top: 0;
    z-index: 0;
    animation: Circle 12s linear 1s infinite;
    width: 900px;
    height: 900px;
    margin-left: -140px;
    margin-top: 10px;
    
}

nav{
    background-image: url('../images/Image.png');
    height: max-content;
}

.navbar{
    
    
    background-color: rgba(47, 54, 106, 0.95);
    border-bottom-left-radius: 300px 290px;
    height: max-content;
    width: 100%;
}
.navbar-brand{
    font-size: 200px;
    position: relative;
    margin-top: 10%;
    margin-left: auto;
    padding-left: 6%;
    margin-bottom: 10%;
    z-index: 1;
   
}

.quote{
    position: absolute;
    right: 15%;
    color: #E5E5E5;
    font-family: cursive;
}
.author{
    position: relative;
    margin-left: 60%;
    color: #E5E5E5;
    font-family: 'Oswald', sans-serif;
}
  

.navbar-nav{
    font-size: medium;
        
        position: absolute;
        top: 5%;
        left: 50%;
}

.nav-item{
    margin-left: 60px;
}
.gallery{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 50px 50px;
    border-top-right-radius: 50px 50px;
    height: auto;
    background-color: #FFFFFF;
}
.glide__slide img{
    padding-top: 10%;
    padding-bottom: 10%;
    width: 100%;
    height: 100%;
}
.glide__slides{
    height: max-content;
}
.glide__slide{
   
    filter: blur(6px);
    opacity: .7;
    transition: .3s linear;
}
.glide__slide--active{
    opacity: 1;
    filter: none;
    z-index: 2;
    transform: scale(1.2);
}
.glide__slides{
    overflow: visible;
}
.card{
    box-shadow: rgba(0, 0, 255, 0.15) 0px 15px 25px, rgba(0, 0, 255, 0.05) 0px 5px 10px;
    border-bottom-left-radius: 50px 50px;
    border-bottom-right-radius: 50px 50px;
    border-top-left-radius: 100px 100px;
    border-top-right-radius: 100px 100px;
    
}
.container-fluid{
    
    
    margin: auto;
}


.card-body{
    font-family: '', sans-serif;
    font-size: xx-large;
}
.card-title{
    font-family: '', sans-serif;
    font-size: xx-large;
}
}
@media screen and (min-width:992px) and (max-width:1300px){

    #iste_logo{
        position: absolute;
        top: 0;
        z-index: 0;
        animation: Circle 12s linear infinite;
        width: 696px;
        height: 696px;
        margin-left: -140px;
        margin-top: 10px;
        
    }
    
    
nav{
    background-image: url('../images/Image.png');
    height: max-content;
}

.navbar{
    
    /* font-family: 'Oswald', sans-serif; */
    background-color: rgba(47, 54, 106, 0.95);
    border-bottom-left-radius: 300px 290px;
    height: max-content;
    width: 100%;
}
.navbar-brand{
    font-size: 150px;
    position: relative;
    margin-top: 10%;
    margin-left: auto;
    padding-left: 6%;
    margin-bottom: 10%;
   
}
.quote{
    position: absolute;
    right: 5%;
    color: #E5E5E5;
    font-family: cursive;
}
.author{
    position: relative;
    margin-left: 60%;
    color: #E5E5E5;
    font-family: 'Oswald', sans-serif;
}

    
    .navbar-nav{
        font-size: medium;
        
        position: absolute;
        top: 5%;
        left: 50%;
    }
    
   
    .nav-item{
        margin-left: 30px;
    }
 
    
.gallery{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 50px 50px;
    border-top-right-radius: 50px 50px;
    height: auto;
    background-color: #FFFFFF;
}
.glide__slide img{
    padding-top: 10%;
    padding-bottom: 10%;
    width: 100%;
    height: 100%;
}
.glide__slides{
    height: max-content;
}
.glide__slide{
   
    filter: blur(6px);
    opacity: .7;
    transition: .3s linear;
}
.glide__slide--active{
    opacity: 1;
    filter: none;
    z-index: 2;
    transform: scale(1.2);
}
.glide__slides{
    overflow: visible;
}
.card{
    box-shadow: rgba(0, 0, 255, 0.15) 0px 15px 25px, rgba(0, 0, 255, 0.05) 0px 5px 10px;
    border-bottom-left-radius: 50px 50px;
    border-bottom-right-radius: 50px 50px;
    border-top-left-radius: 100px 100px;
    border-top-right-radius: 100px 100px;
}
.card-body{
    font-family: '', sans-serif;
    font-size: xx-large;
}
.card-title{
    font-family: '', sans-serif;
    font-size: xx-large;
}
    
    
      
      
    
    
    
       
}