* {
    margin: 0;
    padding: 0;
}

.vikas-section {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow-x: hidden; */
}

.vikas-section>.container {

    width: 100%;
    height: 100%;
    padding: 0;
    margin: 30px 0;
    overflow: hidden;
    background: linear-gradient(to right top, #d2aad3, #d9c0e1, #e2d6ed, #efebf7, #ffffff);
    border-radius: 90px 90px 90px 90px;
    box-shadow: 4px 4px 25px rgb(0, 0, 0, .29);
}
.gap-seperator{
    height:100px;
    width:100%;
}
/* .text-1>h1 {
    padding: auto;
    text-align: center;
    
}

.text-2>h1 {

    text-align: center;
} */



.inner-container {
    display: flex;
}

.up 
{
    flex-direction: row;
}    

.down {
    
    flex-direction: row;

    margin-top: 1em;
    margin-bottom: 0;

}
/* 
.text-1 {
    width: 70%;
    margin-right: 12px;

    
    float: right;
    padding: 70px;
}

.text-2 {
    width: 70%;
    
    float: left;
    padding: 49px;
    margin-right: 30px;

} */



.img-1 img {

    width: 100%;
    /* margin-right: 23px; */
    border-radius: 0 0 90px 0;
    object-fit: cover;
    object-position: 50% 50%;
}

.img-2 img {
    width: 100%;
    /* padding-left: 35px; */
    border-radius: 90px 0 90px 0;
    object-fit: cover;
    object-position: 50% 50%;
}

.img-1 {
    float: left;
    padding-left: 0;
}


.img-2 {
    float: right;
    padding-right: 0;
    /* margin-left: 23px; */
    /* padding-left: 35px; */

}
.vikas-section .inner-container .img-1, .vikas-section .inner-container .img-2{
    display:block;
}
.vikas-section .inner-container .text-1 .img-1, .vikas-section .inner-container .text-2 .img-2{
    display:none;
   
}


/* .img-1:hover img
{
    transform:scale(1.2);
} */
@media only screen and (max-width:900px) {
    .up {
        flex-flow: column;
        width: fit-content;
        
    }
    .fst-p{
        font-size: medium;
        width: fit-content;
    }
    .sec-p{
        width: fit-content;
        font-size: medium;
    }
    .fst-h1{
        font-size: xx-large;
    }
    .sec-h1{
        font-size: xx-large;
    }
    .down {
        margin-top: 0;
        flex-flow: column-reverse;
        flex-direction: column-reverse;
        width: fit-content;
        
    }

    .img-2 {
        margin: 0;
        padding: 0;
    }
    .img-1 {
        margin: 0;
        padding: 0;
    }

    .img-1 img {
        
        border-radius: 0;
    }

    .img-2 img {
        padding: 0;
        border-radius: 0;
    }

    .text-1 {
        
        

        
        width: 100%;
       
        font-size: 28px;
        
    }

    .text-2 {
        
        
        width: 100%;
        margin-top: 30px;
        font-size: 28px;
        
    }

}
@media only screen and (max-width:540px){

    .vikas-section>.container {

        width: 100%;
        height: 100%;
        padding: 10px;
        margin: 30px 0;
        overflow: hidden;
        background: linear-gradient(to right top, #d2aad3, #d9c0e1, #e2d6ed, #efebf7, #ffffff);
        border-radius: 20px 20px 20px 20px;
        box-shadow: 4px 4px 25px rgb(0, 0, 0, .29);
    }
    .vikas-section{
        padding:10px;
    }

    .vikas-section .inner-container .img-1, .vikas-section .inner-container .img-2{
        display:none;
    }
    .vikas-section .inner-container .text-1 .img-1, .vikas-section .inner-container .text-2 .img-2{
        display:block;
      margin-bottom:40px;
    }

    .gap-seperator{
        height:25px;
    }

}