
  
  .heading h1{
    margin-bottom: 25px;
    text-align: center;
  }
  
  .team{
    margin-top: 60px;
    text-align: center;
  }
  
  
  .our_team{
    width: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .team_member{
    width: 250px;
    margin: 5px;
    background: #fff;
    padding: 20px 10px;
  }
  
  .team_member .member_img{
    background: #e9e5fa;  
    max-width: 190px;
    width: 100%;
    height: 190px;
    margin: 0 auto;
    border-radius: 50%;
    padding: 5px;
    position: relative;
    cursor: pointer;
  }
  
  .team_member .member_img img{
    width: 100%;
    height: 100%;
  }
  
  .team_member h3{
    text-transform: uppercase;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2px;
    margin: 15px 0 0px;
  }
  
  .team_member span{
    font-size: 20px;
  }
  
  .team_member p{
    margin-top: 20px;
    font-size: 14px;
    line-height: 20px;
  }
  
  .team_member .member_img .social_media{
    position: absolute;
    top: 5px;
    left: 5px;
    background: rgba(0,0,0,0.65);
    width: 95%;
    height: 95%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
     transition: all 0.5s ease;
  }
  /* .team_member .member_img .social_media{
    position: absolute;
    top: 5px;
    left: 5px;
    background: rgba(0,0,0,0.65);
    width: 95%;
    height: 95%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
     transition: all 0.5s ease;
  } */
  
  .team_member .member_img .social_media .item{
    margin: 0 10px;
  }
  
  .team_member .member_img .social_media .fab{
    color: #8c7ae6;
    font-size: 20px;
  }
  
  .team_member .member_img:hover .social_media{
    transform: scale(1);
  }
  .team-small-device-only{
    display:none;
  }
  
@media only screen and (max-width:540px){
  .team{
    display: none;
  }
  .team-small-device-only{
    overflow-x:hidden;
    display:block;
  }
.team-small-device-only .team_member{
  transform:scale(0.8);
  margin-left:-21%;
  
}
  .team-small-device-only .member_img{

    transform:scale(0.8);
  }
  .team-small-device-only .chairs{
    margin-top:-21%;
  }
  
}
@media only screen and (max-width:380px){
  .team-small-device-only .team_member{
    transform:scale(0.8);
    margin-left:-30%;
    
  }
    .team-small-device-only .member_img{
  
      transform:scale(0.8);
    }
    .team-small-device-only .chairs{
      margin-top:-21%;
    }
    .container-fluid{
      padding:0 !important;
    }
}